html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.container {
  margin-top: 60px;
  margin-bottom: 110px;
}

.active-link {
  color: #ffffff
}

footer {
  background: #000034;
  position: fixed;
  padding: 20px;
  bottom: 0px;
  width: 100%;
}

.warning {
  color: #ff0909
}

.text-highlight {
  color: #33ffff;
  font-weight: 10
}
